$nav-toggle-color: #0E5FC2;
$primary-color: black;
$azul: #156fd8;
$whitesmoke: whitesmoke;
$yellow: rgb(225, 98, 96);
$footer_text: rgb(17, 114, 20);
$footer_bg: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%);
$green: rgb(103, 150, 62);